@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #ffffff;
    --white-darker: #595959;
    --body-color: rgba(245, 245, 245, 1);
    --darker-active: rgba(0, 0, 0, 1);
    --Light-Blue: rgba(27, 130, 226, 1);
    --white-Dark-active: rgba(115, 115, 115, 1);
    --off-white:rgba(245, 245, 245, 1);
}

html {
    font-size: 0.69444vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    background-color: var(--body-color);
}

.nav {
    display: flex;
    padding-block: 3rem;
    justify-content: space-around;
    background-color: white;

    img {
        width: 17rem;
    }

    ul {
        display: flex;
        gap: .5rem;
        list-style: none;

        a {
            padding-inline: 1.4rem;
            padding-block: 1rem;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: .3rem;
            text-decoration: none;

            &:hover {
                background-color: var(--white-darker);
                transition: .2s ease-in;
                color: white;
            }

            l1 {}
        }
    }

    button {
        border: 1px solid var(--white-darker);
        padding: 1rem 2.3rem;
        border-radius: .5rem;
    }
}

.hero {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;

    .profile-container {
        display: flex;
        gap: 3rem;
        width: 30rem;
        margin-bottom: 2.5rem;
    }

    .profile-text {
        font-size: 7.5rem;
        text-transform: capitalize;
        line-height: 9rem;
        

        text-align: center;
        /* max-width: 75rem; */

        span {
            color: var(--Light-Blue);
        }
    }

    p {
        font-size: 2.8rem;
        flex-direction: column;
        margin: 3rem;
       max-width: 60rem; 
       text-align: center;
       color: var(--white-darker);
    }
    button {
        padding: 1rem;
        border-radius: .5rem;
        background-color: var(--Light-Blue);
    }
}

 /* about section */

.about-section {
    padding: 15rem 10rem;
    justify-content: space-evenly;
    
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;
    max-width: 1000rem;
    
}

.about-image {
    flex: 1 1 350px;
    border: 4px solid #e0e0e0;
    border-radius: 12px;
    padding: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-image img {
    width: 100%;
    height: 36rem;
    border-radius: 8px;
}

.about-content {
    background-color: var(--off-white);
    flex: 2 1 400px;
    text-align: center;
    border-radius: 8px;
    height: 36rem;
    font-size: 150rem;
    font-family: 'urbanist', sans-serif;
    width: 20rem;
    padding: 45px;
    
}

.about-content h2 {
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 15px;
    color: #222;
}

.about-content h2 span {
    color: #007bff;
    justify-content: center;
    
}

.about-content p {
    justify-content: center;
    font-size: 1rem;
    line-height: 1.0;
    margin-bottom: 10px;
    color: #333;

}

.about-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.about-content ul li {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
}

/* services section */


h1 {
  text-align: center;
  color: rgba(27, 130, 226, 1);
  /* margin: 3rem; */

}

h2 {
  text-align: start;
  color: rgba(27, 130, 226, 1);
  margin: 2.7rem;
}

.card {
  display: flex;
  justify-content:center;
  box-shadow: 5rem;
  gap: .5rem;
  padding: .9rem;
  margin: .9rem;
  margin-left: 17rem;
  border-radius: 97px;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
   max-width: 75%;
   max-height: 88%;
   font-size: medium;
   
    

}

h3 p {
  margin: .2rem;
  padding: auto;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;

}

.card-icon {
  background-color:var(--Light-Blue);
  max-width: 4rem;
  box-sizing: border-box;
  border-radius: 87%;
  align-items: center;
  display: flex;
}























/* .container{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    height: 50rem;
    align-items: center;
}


.box{
    width: 10rem;
    height: 10rem;
}

.box-1{
    background-color: red;
    padding: 2rem;
}

.box-2{
    background-color: pink;
    margin: 2rem;
} */











/* .nav{
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 15px;

}



.nav-item{

    justify-content: center;
    gap: 52px;
    display: flex;
    padding: 8 24 24 8;

}
.btn{
    color: #595959;
    border-radius: 30%;

}
.logo{
    align-items: center;
    margin-top: 5px;
}
.grid{
    display: flex;
    justify-content:space-around;
    margin-top: 25px;
    justify-items: center;
    row-gap: 0.1px;


}
.text{
    text-align: center;
    text-size-adjust: 50px;
    margin-top: 0.2px;
    gap: 32px;
    padding-top: 30px;
    padding-bottom: 12px;
}
.button{
    justify-content: center;
    justify-self: center;
    color: #1B82E2;
}
.eclipse1{
    justify-content:flex-start;
    z-index: 0.9;
    position:relative;
    padding-top: 15px;
}
.eclipse2{
    justify-content:flex-end;
    z-index: -0.9;
    position: relative;

} */


button {
    font-family: "Urbanist", sans-serif;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}